.critter-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 600px;
}

.critter-item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: bisque;
}

.critter-item img {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.critter-item.inactive {
  opacity: 0.3;
}
