.critter-view {
  display: flex;

  .critter-view-container {
    display: flex;
    width: 100%;

    margin: 5px 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.50);
    color: #fff;

    img.full-size {
      max-width: 400px;
      margin: 10px;
    }

    .left-col {
      flex: auto;
    }

    .right-col {
      flex: auto;

      tr td:first-of-type {
        font-weight: bold;
      }
    }
  }
}
