.fish-view {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 800px;
}
.fish {
  height: 150px;
  width: 150px;
  margin: 5px;
  background-color: bisque;
}
