main, section {
  height: 100%;
  width: 100;
  padding: 0px;
  margin: 0px;
}

.section-todo {
  background-image: url("/acnh-critterpedia/images/pattern-leaves-white.jpg");
  background-repeat: repeat;
}

.section-fish {
  background-image: url("/acnh-critterpedia/images/pattern-waves.jpg");
  background-repeat: repeat;
}
