main, section {
  padding: 0px;
  margin: 0px;
}

.section-todo {
  background-image: url("/acnh-critterpedia/images/pattern-leaves-white.jpg");
  background-repeat: repeat;
}

.section-bugs {
  background-image: url("/acnh-critterpedia/images/pattern-grass.jpg");
  background-repeat: repeat;
}

.section-fish {
  background-image: url("/acnh-critterpedia/images/pattern-waves.jpg");
  background-repeat: repeat;
}

.section-sea-creatures {
  background-image: url("/acnh-critterpedia/images/pattern-leaves-turquoise.jpg");
  background-repeat: repeat;
}
