.time-range {
  padding: 30px 20px;

  .time-range-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;


    .time-chunk {
      display: inline-block;
      position: relative;
      flex-grow: 1;

      &:first-of-type span {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-of-type span {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      span {
        display: block;
        height: 20px;
        width: 100%;

        border: 1px solid black;

        &.active {
          background-color: #834B16;
        }
      }

      .label {
        position: absolute;
        top: 30px;
        font-size: 10px;
      }
    }
  }

  &.hour {
    .time-chunk .label {
      left: -50%;

      &.end {
        left: 50%;
      }
    }
  }

  &.month {
    .time-chunk .label {
      left: 25%;
    }
  }
}
